*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-nav: darkgreen;
    --secundary-color: lightgreen;

}
body {
    max-width: 1200px;
    margin: 0 auto;
}
body.dark {
    background: #000;
    color: #fff;
}
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: inline-block;
}
button {
    border: none;
    color: inherit;
    display: inline-block;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 20px;
    width: 20px;
}
/*Estilos para la animacion del titulo*/
b {
    display: inline-block;
    letter-spacing: -.5rem;
    cursor: pointer;
    transition: .5s;
    transition-delay: .5s;
}
b:hover {
    color: var(--primary-nav);
    text-shadow: -2.5px 2.5px 2.5px var(--secundary-color);
    transform: scale(1.25);
    transition: transform .5s;

}
b.zoom {
    color: var(--primary-nav);
    text-shadow: -2.5px 2.5px 2.5px var(--secundary-color);
    transform: scale(1.25);
    transition: transform .5s;

}
u {
    display: inline-block;
    width: .5rem;
}
/*Fin de estilos para la animacion del titulo*/


.header iframe {
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    position: fixed;
    top: 0;
}
/* Mobile */

.header_nav {
    background-color: var(--secundary-color);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 20;
}
.dark .header_nav{
    background-color: var(--primary-nav);
}
.nav_star,
.nav_center,
.nav_end {
    display: flex;
    align-items: center;
    gap: 10px;
}
.main {
    position: relative;
    z-index: 10;
}
.section {
    height: 100vh;
    max-height: 700px;
    padding: 60px 10px 10px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-between;
}

.front > * {
    text-align: center;
}
.front h2{
    font-size: 28px;
    font-family: cursive;
}

.about {
    padding: auto;
}

.about iframe {
    height: 40%;

}
.hard__skills {
    position: relative;
    height: 65%;
    width: 100%;
}
.slider__skills {
    height: 80%;
    display: flex;
    justify-content: center;
}
.hard__skills button {
    background-color: var(--primary-nav);
    position: absolute;
    top: 50%;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.dark .hard__skills button {
    background-color: var(--primary-nav);
}
.btn_prev {
    left: 1%;
}
.btn_next {
    right: 1%;
}
/*Estilos paa el slider splide*/
.splide {
    padding: 50px;
}
.splide__slide {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;

}
.splide__slide div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.splide__slide div > * {
    width: 80%;
    text-align: center;
}
.splide__slide figure {
    border-radius: 20px;
    overflow: hidden;
}
.splide__pagination {
    align-items: flex-end;
}
/*Fin del estilos paa el slider splide*/
.education {
    justify-content: space-evenly;
}
.achievements figure {
    height: 40%;
}
.achievements p {
    padding: 60px;
}
.footer {
    width: 80px;
    aspect-ratio: 1;
    margin: 20px;
    position: sticky;
    bottom: 20px;
    left: 100%;
    z-index: 30;
    overflow: hidden;
}
.footer .icon {
    position: absolute;
    font-size: 35px;
    width: 35px;
} 
.icon_link {
    right: -100%;
    transition: right .5s;
}
.icon_git {
    bottom: 100%;
    transition: bottom .5s;
}
.active .icon_link {
    top: 0;
    right: 0;
    transition: right .5s;
}
.active .icon_git {
    bottom: 0;
    left: 0;
    transition: bottom .5s;
}

@media (min-width: 400px) {
    a {
        font-size: 25px;
        width: 25px;
    }
}
@media (min-width: 850px) {
    a {
        font-size: 30px;
        width: 30px;
        position: relative;
    }
    a:hover {
        transform: scale(1.25);
    }
    a:hover::after {
        background-color: var(--secundary-color);
        position: absolute;
        font-size: 16px;
        content: 'texto de prueba';
        width: max-content;
        border: 1px solid;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .header_nav a:hover::after {
        top: 0;
        left: 40px;
    }
    .dark a:hover::after {
        background-color: var(--secundary-color);
    }
    .header_nav {
        height: 100vh;
        max-height: 700px;
        width: 50px;
        flex-direction: column;
    }
    .nav_star,
    .nav_center,
    .nav_end {
    flex-direction: column;
    }
    /*Estilos para los tooltips*/
    .icon_home:hover::after {
        content: 'ir al inicio';
    }
    .icon_about:hover::after {
        content: 'Sobre mi';
    }
    .icon_skills:hover::after {
        content: 'Habilidades';
    }
    .icon_projects:hover::after {
        content: 'Proyectos';
    }
    .icon_education:hover::after {
        content: 'Educacion';
    }
    .icon_achievements:hover::after {
        content: 'Logros destacados';
    }
    .icon_cv:hover::after {
        content: 'Descarga mi cv';
    }
    .icon_language:hover::after {
        content: 'Cambiar de idioma';
    }
    .icon_volumen:hover::after {
        content: 'Prender/apagar sonido';
    }
    .icon_mode:hover::after {
        content: 'Activar/descactivar el modo oscuro';
    }
    .icon_link:hover::after {
        bottom: 45px;
        right: 0;
        content: 'contactame';
    }
    .icon_git:hover::after {
        top: 0;
        right: 40px;
        content: 'Mira mi forma de programar';
    }
    /*Fin de los estilos para los tooltips*/
    .section {
        padding: 50px 50px 50px 100px;
        display: grid;
    }
    .front {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
    }
    .front h1{ 
        grid-column: span 2;
    }
    .front h2{
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        font-size: 32px;
        font-family: cursive;
    } 
    .front p{
        grid-column: 1;
        grid-row: 3;
        text-align: left;
        align-self: self-start;
    }
    .front figure {
        grid-column: 2;
        grid-row: 2/ span 2;
    }
    .about {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr 4fr);
        align-items: center;
    }
    .about h2{
        grid-column: span 2;
    }
    .about p{
        grid-column: 1;
        grid-row: 2;
    }
    .about h3{
        grid-column: 1;
        grid-row: 3;
    }
    .about ul{
        grid-column: 1;
        grid-row: 4;
    }
    .about iframe {
        grid-column: 2;
        grid-row: 2/ span 3;
        width: 100%;
        height: 100%;
    }
    .skills {
        grid-template-columns: 1, 1fr;
        grid-template-rows: 1fr 5fr;
        align-items: center;
    }
    .skills h2 {
        grid-column: span 2;
        align-self: self-end;
    }
    /*.skills article {
        width: 100%;
    }*/
    .soft_skills {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .soft_skills li {
        margin: 10px 0;
    }
    .hard_skills {
        grid-column: 2;
        grid-row: 2 / 4;
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 80%;
    }
     .proyects {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
    }
    .splide__slide {
        flex-direction: row;
    }
    .education {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
        align-items: center;
    }
    .education h2 {
        grid-column: span 2;
        align-self: self-end;
    }
    .education article {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .education li {
        margin: 10px 0;
    }
    .achievements {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr 5fr);
        align-items: center;
    }
    .achievements h2 {
        grid-column: span 2;
        align-self: self-end;
    }
    .achievements figure {
        justify-self: center;
    }
}